.popup__content {
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 358px;
  margin: 0 auto;
  padding: 34px 0 37px;
}

@media screen and (max-width: 550px) {
  .popup__content {
    max-width: 238px;
    padding: 25px 0;
  }

}
