.header {
  display: flex;
  justify-content: flex-start;
  max-width: 880px;
  min-height: 73px;
  border-bottom: 1px solid #545454;
  margin: 0 auto;
}

@media screen and (max-width: 984px) {
  .header {

  }
}

@media screen and (max-width: 984px) {
  .header {

  }
}
